<ion-router-outlet></ion-router-outlet>
<!--<ion-app class="buttons">-->
<!--  <ion-button color="primary" (click)="viewPermissions()">Get Permissions</ion-button>-->
<!--  <ion-button color="primary" (click)="requestPermissions()">Request Permissions</ion-button>-->
<!--  <ion-button color="primary" (click)="startCount()">Count</ion-button>-->
<!--  <ion-button color="primary" (click)="sendSMS()">SMS</ion-button>-->
<!--  <ion-button color="primary" (click)="getCoords()">Geo</ion-button>-->
<!--  <ion-button color="primary" (click)="pushNote()">Push</ion-button>-->
<!--</ion-app>-->
