<ion-app>
    <ion-header>
        <ion-img src="./assets/shapes.svg"></ion-img>
    </ion-header>
    <ion-content>
        GUID (Globally Unique Identifier) — статистически уникальный 128-битный идентификатор. Его главная особенность — уникальность, которая позволяет создавать расширяемые сервисы и приложения без опасения конфликтов, вызванных совпадением идентификаторов. Хотя уникальность каждого отдельного GUID не гарантируется, общее количество уникальных ключей настолько велико (2128 или 3,4028×1038), что вероятность того, что в мире будут независимо сгенерированы два совпадающих ключа, крайне мала.

        «GUID» называют некоторые реализации стандарта, имеющего название Universally Unique Identifier (UUID).

        В тексте GUID записывается в виде строки из тридцати двух шестнадцатеричных цифр, разбитой на группы дефисами и опционально окружённой фигурными скобками:

        6F9619FF-8B86-D011-B42D-00CF4FC964FF
    </ion-content>
</ion-app>